[Desktop Entry]
Type=Application
Name=Blender Manager
Comment=Download and manage Blender builds
Comment[es]=Descarga y gestiona versiones de Blender
Exec=BlenderManager
Icon=blendermanager
Terminal=false
Categories=Graphics;3DGraphics;
Keywords=blender;3d;launcher;
